[submodule "extern/boost-cmake"]
	path = extern/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "extern/relic"]
	path = extern/relic
	url = https://github.com/relic-toolkit/relic.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
